.wrapper{
  min-width: 100%;
  min-height: 100vh;
  /* border: 1px solid red; */
}
.container{
  width: 100%;
}
::-webkit-scrollbar{
  width: 0.001px;
}
.p-50{
  padding: 0 50px;
}
.pt-170{
  padding-top: 170px;
}